<%= render "shared/header"%>


<div class = "main-decolation">
<div class="header_coment">
 <div class="first_coment"><%="<映画を投稿しよう>"%></div>
</div>


<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><%= image_tag '/assets/TENET2.png', :size =>'900x550' %></div>
        <div class="swiper-slide"><%= image_tag '/assets/ハbasket.jpeg', :size =>'900x550' %></div>
        <div class="swiper-slide"><%= image_tag '/assets/サッカー.jpeg', :size =>'900x550' %></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
</div>


 <div class='movie-contents'>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='movie-lists'>      <% @movies.each do |movie| %>
        <li class = 'list'>
          <%= link_to movie_path(movie.id), method: :get do %>
            <div class='movie-img-content'>
               <%= image_tag movie.image, class: "movie-img" %>
            </div>
        <div class='movie-info'>
          <h3 class='movie-name'>
            <%= movie.name %>
          </h3>
          <div class='movie-category'>
            <%= movie.category.name%>
          </div>
        </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

<div class="post-content">
  <div><%=link_to "投稿", new_movie_path, class: "post" %></div>
  </div>