<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @movie.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @movie.image ,class:"item-box-img" %>
    </div>

    <%if user_signed_in? && current_user.id == @movie.user.id %>
    <%# <p class='or-text'>or</p> %>
    <%= link_to '削除', movie_path(@movie.id), method: :delete, class:'item-destroy' %>
    <%# elsif user_signed_in? && @item.purchase == nil %>
    <%#= link_to '購入画面に進む', item_orders_path(@item.id), class:"item-red-btn"%>
    <% end %>
    <div class="item-explain-box">
      <span><%= @movie.explanation %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @movie.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @movie.category.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# /商品の概要 %>



</div>

