<%= render "shared/header" %>

<%# 映画の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @movie.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @movie.image ,class:"item-box-img" %>
    </div>

    <%if user_signed_in? && current_user.id == @movie.user.id %>
    <%# <p class='or-text'>or</p> %>
    <%= link_to '削除', movie_path(@movie.id), method: :delete, class:'item-destroy' %>
    <% end %>
    <div class="item-explain-box">
      <span><%= @movie.explanation %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @movie.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @movie.category.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# /映画の概要 %>

  <div class="mcomments">
    <%= render partial: 'comments/comment', collection: @comments %>
  </div>


 <div class="container">
    <% if current_user %>
      <%= form_with(model: [@movie, @comment], local: true) do |form| %>
        <%= form.text_area :comment, placeholder: "コメントする", rows: "2", class: "text-area" %>
        <%= form.submit "SEND", class: "submit" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
</div>

