  <header class="header">
    <div class="header_bar">
      <h1 class="title"><%= link_to "MovieRank", root_path, class: "title" %></h1>
      <% if user_signed_in?%>
        <div class="logout_session">
          <%= link_to current_user.nickname, "#", class: "session" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log" %>
        </div>
      <% else %>
        <div class="log_session">
          <%= link_to "新規登録", new_user_registration_path, class: "session" %>
          <%= link_to "ログイン", new_user_session_path, class: "log" %>
       <% end %> 
        </div>
    </div>
  </header>